.product-card {
    background-color: #e0e0e0;
    border-radius: 10px;
    width: 250px;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 200px;
    padding: 20px 20px 0px 20px;
}

.product-name {
    padding: 0px 20px 0px 20px;
    font-size: 16pt;
}

.product-author {
    font-size: 14pt;    
    color: #7a7a7a;
    padding: 0px 20px 0px 20px;
}

.product-price {
    font-size: 12pt;
    padding: 0px 20px 0px 20px;
}

.product-button {
    background-color: #655D8A;
    color: #fff;
    padding: 10px;
    border-style: none;
    border-radius: 5px; 
    cursor: pointer;
}