header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    border-bottom: 3px solid #655D8A;
    background-color: #f7f7f7;
}

.logo {
    width: 150px;
    padding: 20px;
}

.navbar-item {
    display: inline-block;
    margin: auto;
    color: #655D8A;
    cursor: pointer;
    padding: 20px;
}

.navbar-item a{
    font-size: 1.2vw;
    text-decoration: none;
    color: #655D8A;
    font-weight: 400;
}