.cart-item-title {
    font-size: 16pt;
    font-weight: 400;
}

.cart-item-info {
    font-size: 12pt;
}

.cart-item-container button {
    background-color: #655D8A;
    color: #fff;
    font-size: 12pt;
    padding: 10px;
    border-style: none;
    border-radius: 5px; 
    cursor: pointer;
}